 demo-input-field{

    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 125px;
    margin: 0px auto;
    opacity: 1;
    transition: 1s linear all;
    
}